<h1>Mail#new</h1>
<p>Find me in app/views/mail/new.html.erb</p>
<form accept-charset="UTF-8" action="/mail" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
 	<button to="submit">Send</button>
</form>